.swiperBody {
   width: 100%;
   height: 1400px;
}

.bg_1 {
   width: 960px;
   height: 480px;
   position: absolute;
   margin: -2px 0 0 0;
   left: -0.9%;
}

.bg_2 {
   width: 961.3px;
   height: 480px;
   position: absolute;
   margin: -2px 0 0 943px;
}

.bg_3 {
   width: 960px;
   height: 480px;
   position: absolute;
   margin: 475px 0 0 0;
   left: -0.9%;
}
.bg_4 {
   width: 961.3px;
   height: 480px;
   position: absolute;
   margin: 475px 0 0 943px;
}

.bg_5 {
   width: 960px;
   height: 480px;
   position: absolute;
   margin: 953px 0 0 0;
   left: -0.9%;
}

.bg_6 {
   width: 961.3px;
   height: 480px;
   position: absolute;
   margin: 953px 0 0 943px;
}
