.navbar {
   width: 100%;
   height: 83px;
   padding: 0 auto;
   background-color: #202020;
   align-items: center;
   display: flex;
   position: absolute;
}

.games {
   padding: 0 10px 0 10px;
   color: #ffffff;
}

.games:hover {
   transition: 0.1s;
   color: #7abf61;
}

.community {
   padding: 0 10px 0 10px;
   color: #ffffff;
}

.community:hover {
   transition: 0.1s;
   color: #7abf61;
}

.merch {
   padding: 0 10px 0 10px;
   color: #ffffff;
}

.merch:hover {
   transition: 0.1s;
   color: #7abf61;
}

.support {
   padding: 0 10px 0 10px;
   color: #ffffff;
}

.support:hover {
   transition: 0.1s;
   color: #7abf61;
}

.logo {
   width: 360px;
   height: 200px;
   padding: 0 400px;
   margin-top: -60px;
}

.navbar_btn {
   width: 270px;
   height: 50px;
   background-color: #347f18;
   border-color: black;
   margin-left: 100px;
   color: #ffffff;
   font-size: 20px;
   border: none;
   cursor: pointer;
}

.navbar_btn:hover {
   color: #202020;
   background-color: #6bec3c;
   transition: 0.8s;
}
